<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Yelpcamp</h1>
        <p> A place which provides info about camps </p>
        <p >
            <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add New Campground</a>
        </p>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" >
                <img src="<%= campground.image %>">
                <div class="caption">
                    <h4><%= campground.name %> </h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>